/* Importamos las fuentes */

@font-face {
    font-family:'DragonHunter';
    src:url(DragonHunter.otf);
    font-style: bold;
    font-weight: bold;
  }

  @font-face {
    font-family:'Lofi';
    src:url(LofiCottage.otf);
    font-style: bold;
    font-weight: bold;
  }


/*CSS de Header, body y estilos de texto */

header
{
    margin: 0 auto;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #DBC69F;
    box-shadow: 0px 12px 25px 25px rgba(0, 0, 0, 0.163);
    width: 100%;
    height: 100px;
    z-index: 5;

    view-timeline-name: scroll();
    view-timeline-axis: block;

    animation-timeline: scroll();
    animation-name: shrink;

    animation-range: 0% 100%;   
}

body
{
    background-color: #FFF6EB;
    margin: auto;
}

h1
{
    display: flex;
    align-items: center;
    position: sticky;
    margin: auto;
    font-size: 2.5em;
    color: rgb(103, 0, 0);
    font-family: 'DragonHunter';
}

a
{
    text-decoration: none;
    margin: auto;
}

/*-----------------------------------*/

/*Css de la parte de las noticias*/

.News
{
    display: flex;
    justify-content: center;
}

.News_list
{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    width: 85%;
    height: 100%;
}

.News_container
{
    display: flex;
    justify-content: start;
    position: relative;
    flex-basis: 500px;
    align-items: flex-start;
    margin: 0 30px 0 30px;
    background-color: rgba(0, 0, 0, 0.203);
    height: 650px;
    mask: radial-gradient(circle 5px at 5px 5px , transparent 100%, #000000) -5px -5px;

}

.News_border
{
    background-image:url(https://github.com/AveysT/FaerunToday/blob/main/IMG/EXTRA/Container_Border.png?raw=true);
    background-repeat: no-repeat;
    background-size: contain;
    height: 650px;
    width: 500px;
    position: absolute;
    z-index: 5;
    pointer-events:none;  
}
.News_corner_tl
{
    background-image: url(https://github.com/AveysT/FaerunToday/blob/main/IMG/EXTRA/Container_Corner.png?raw=true);
    background-repeat: no-repeat;
    top: 0px;
    left: -0px;
    background-size: contain;
    height: 90px;
    width: 90px;
    position: absolute;
    z-index: 5;
    pointer-events:none; 
}
.News_corner_tr
{
    background-image: url(https://github.com/AveysT/FaerunToday/blob/main/IMG/EXTRA/Container_Corner.png?raw=true);
    background-repeat: no-repeat;
    top: 0px;
    right: 0px;
    background-size: contain;
    height: 90px;
    width: 90px;
    position: absolute;
    z-index: 5;
    pointer-events:none; 
    transform: scaleX(-1);
}
.News_corner_bl
{
    background-image: url(https://github.com/AveysT/FaerunToday/blob/main/IMG/EXTRA/Container_Corner.png?raw=true);
    background-repeat: no-repeat;
    bottom: 0;
    left: 0px;
    background-size: contain;
    height: 90px;
    width: 90px;
    position: absolute;
    z-index: 5;
    pointer-events:none; 
    transform: scaleY(-1);
}
.News_corner_br
{
    background-image: url(https://github.com/AveysT/FaerunToday/blob/main/IMG/EXTRA/Container_Corner.png?raw=true);
    background-repeat: no-repeat;
    bottom: 0;
    right: 0px;
    background-size: contain;
    height: 90px;
    width: 90px;
    position: absolute;
    z-index: 5;
    pointer-events:none; 
    transform: scale3d(-1, -1, 1)
}


.News_img
{
    background-position: top;
    background-size: cover;
    height: 75%;
    width: 100%;
    left: 0;
    top: -10%;
    position: absolute;
    mask: url(https://raw.githubusercontent.com/AveysT/FaerunToday/refs/heads/main/IMG/EXTRA/News_IMG_Mask.png);
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: bottom;
    transition: 1s;
    z-index: 4;
}

.News_img:hover
{
    transform: translatey(30px);
}

.News_text
{

    bottom: 0;
    position: absolute;
    width: 410px;
    height: 325px;
    z-index: 1;
    padding: 0 45px 30px 45px;
}

